

.center{
  margin-top: 104px;
}

#inputSearch {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background-color: #1c2938;
}

.bloqueMD {
  padding: 15px;
  margin: 20px;
  display: inline-block;
  background-color: blue;
  width: 300px;
  border-radius: 25px;
}

.imgPerfil img {
  display: block;
  margin: auto;
  height: 100px;
}

.nickPerfil {
  text-align: center;
}

.spcDelete{
  text-align: center;
}

.buttonAdd{
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  background-color: green;
}

.buttonDelete{
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  background-color: red;
}

.content {
  margin-top: 30px;
}
/* Caja de post */
.post{
  padding-bottom: 8px;
  margin : 0px auto 10px auto;
  word-break: break-all;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 100px;
  width: 650px;
  -webkit-border-radius: 4px;
  box-shadow: 3px 3px 3px black;
  background-color: #67948c;
}

/* todo el post */
.contentPost{
  width: 100%;
}

/* foto perfil */
.imgPost{
  height: 100%;
  float:left;
  width: 40px;
}

.imgPost img{
  border-radius: 17px;
  height: 35px;
  width: 35px;
}

/* Nick y mensaje */
.textPost{
  width: 95%;
}

/* Nick*/
.nickPost {
  color: black;
}

/* En caso de tener un comentario */
.postCommented{
  background-color: #263c33;
  border-radius: 10px;
  margin: 20px 10px 10px 40px;
  padding: 5px;
  color: grey;
}

/* Seccion de iconos*/
.iconsPost{
  margin-top: 2%;
  margin-left: 5%;
  width: 100%;
}

.iconsPost img{
  margin-left: 20px;
  height: 25px;
  width: 25px;
}

@media (max-width:1100px) {
  .content{
    margin-top: 118px;
    margin-left: 0px;
    width: auto;
  }
}

@media (max-width:720px) {
  .post{
    width: 100%;
    -webkit-border-radius: 0px;
    box-shadow: 0px 0px 0px black;
  }
}
